@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .disabled {
      @apply opacity-50 cursor-not-allowed
  }
  .single-article h1 {
      @apply text-3xl font-bold py-2;
  }

  .single-article h2 {
      @apply text-xl font-bold py-2;
  }

  .single-article h3 {
      @apply text-lg font-bold py-2;
  }

  .single-article pre {
      @apply text-green-500 bg-gray-100 my-6 p-2;
  }

  .single-article blockquote {
      @apply my-4 p-4 border-l-4 bg-gray-100 text-gray-500 border-violet-600;
  }

}